[buildout]

extends =
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-5.2.x.cfg
    base.cfg

#update-versions-file = test-5.2.cfg

[versions]
importlib-metadata = 2.1.3
pdbp = 1.5.4
pygments = 2.17.2
